@model IEnumerable<SaxoBooks.Models.Book>
<div id="bookResults">
    @if (@Model != null)
    {
        foreach (var book in @Model)
        {
            <div class="book-image-wrapper">
                <img src="@book.ImageUrl"/>
            </div>
            <div class="book-isbn-wrapper">
                Book ISBN: @book.Isbn
            </div>
        }
    }
</div>