@model IEnumerable<SaxoBooks.Data.Models.Book>
@{
    ViewBag.Title = "Saxo Books";
}

<div class="row">
    <div class="col-md-4">
        <div class="text-area-wrapper">
            <h1>Saxo Books Service</h1>
            <a href="#" class="get-books-button" onclick="getBooks(false)">Get Books</a>
            <textarea id="isbns" class="isbn-text-area" placeholder="Input Isbn digits"></textarea>
        </div>
    </div>

    <div class="col-md-8">
        @{Html.RenderPartial("_GetBooks");}
    </div>

    <div id="loading-img" style="text-align: center; display: none; margin-bottom: 20px;">
        <img alt="Loading" src="@Url.Content("~/Content/Images/ajax-loader.gif")" />
    </div>
</div>

@Scripts.Render("~/bundles/Home")